<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Note</title>
    <link rel="stylesheet" type="text/css" href="contentsize.css">
</head>
<body>
<h1>Edit Note</h1>
<form th:object="${note}" th:action="@{/note/edit}" method="post">
    <input type="hidden" th:field="*{id}" /> <!-- Добавляем скрытое поле для ID -->
    <label>Title: <input type="text" th:field="*{title}" /></label><br>
    <label>Content: <input type="text" class="content-input" th:field="*{content}" /></label><br>
    <button type="submit">Save Changes</button>
</form>
</body>
</html>


