<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Note</title>

</head>
<body>
<h1>Edit Note</h1>
<form th:object="${note}" th:action="@{/note/edit}" method="post">
    <input type="hidden" th:field="${note.id}" />
    <label>Title: <input type="text" th:field="${note.title}" /></label><br>
    <label>Content: <input type="text" class="content-input" th:field="${note.content}" /></label><br>
    <button type="submit">Save Changes</button>
</form>
</body>
</html>


